<section class="terminos-container">
<h1 class="terminos-title">Términos y Condiciones</h1>

<h2 class="terminos-subtitle">TÉRMINOS DEL SERVICIO</h2>

<h3 class="terminos-subtitle">GENERALIDADES</h3>
<p>
    R de Carrasco Escritor gestiona este sitio web. En todo el sitio, los términos «nosotros», «nos» y «nuestro»
    se refieren en lo sucesivo a R de Carrasco Escritor. R de Carrasco Escritor ofrece esta página web,
    incluida toda la información, las herramientas y los servicios que se ponen en este sitio a disposición suya,
    el usuario, siempre y cuando acepte la totalidad de los términos, condiciones, políticas y avisos contemplados aquí.
</p>

<p>
    Al visitar nuestro sitio y/o comprarnos algo, usted interactúa con nuestro «Servicio» y reconoce como vinculantes
    los siguientes términos y condiciones (denominados en lo sucesivo «Términos del servicio», «Términos»), incluidos
    aquellos términos y condiciones adicionales y las políticas que se mencionan aquí y/o disponibles por medio de
    hipervínculo.
    Estos Términos del servicio se aplican a todos los usuarios del sitio, incluyendo de manera enunciativa mas no
    limitativa
    los usuarios que son navegadores, proveedores, clientes, comerciantes y/o que aporten contenido.
</p>

<p>
    Lea estos Términos del servicio detenidamente antes de acceder o utilizar nuestra página web. Al acceder o utilizar
    cualquier
    parte del sitio, usted acepta estos Términos del servicio. Si no acepta la totalidad de los términos y condiciones
    de este acuerdo,
    no podrá acceder al sitio web ni utilizar ningún servicio. Si estos Términos del servicio se considerasen una
    oferta,
    la aceptación se limita expresamente a los presentes Términos del servicio.
</p>
</section>
